importFrom (maptools, spRbind)
importFrom (rgdal, readOGR)
importFrom (MASS, eqscplot)
importFrom("grDevices", "terrain.colors")
importFrom("graphics", "lines", "locator", "par", "points", "segments",
         "text")
importFrom("methods", "as", "is")
importFrom("stats", "dist", "runif")
importFrom("utils", "flush.console", "read.table", "packageVersion")
import (parallel)
import (secr)
import (sp)
import (igraph)

export (read.linearmask)
export (make.sldf)
export (make.line)
export (asgraph)
export (networkdistance)
export (clipmask)
export (showpath)
export (sim.linearpopn)
export (snapPointsToLinearMask)
export (deleteedges)
export (addedges)
export (replot)
export (showedges)
export (getLineID)
export (cleanskips)
export (checkmoves)

S3method (rbind, linearmask)
S3method (subset, linearmask)
S3method (plot, linearmask)
S3method (plot, linearpopn)
