importFrom (maptools, spRbind)
importFrom (maptools, readShapeSpatial)
## importFrom (maptools, rgeosStatus)
## importFrom (rgeos, gBuffer)
## importFrom (rgeos, gIntersection)
importFrom (MASS, eqscplot)
import (parallel)
import (secr)
import (sp)
import (igraph)

export (read.linearmask)
export (make.sldf)
export (make.line)
export (asgraph)
export (networkdistance)
export (clipmask)
export (showpath)
export (sim.linearpopn)
export (snapPointsToLinearMask)
export (deleteedges)
export (addedges)
export (replot)
export (showedges)
export (getLineID)
export (cleanskips)
export (checkmoves)

S3method (rbind, linearmask)
S3method (subset, linearmask)
S3method (plot, linearmask)
S3method (plot, linearpopn)
