import (secr)
import (sp)
import (igraph)

importFrom(graphics, 
    lines, 
    locator, 
    par, 
    points, 
    segments,
    text)

importFrom(methods, 
    as, 
    is)

importFrom(stats, 
    dist, 
    runif)

importFrom(utils, 
    flush.console, 
    read.table, 
    packageVersion)

importFrom(sf,
    st_read,
    st_buffer,
    st_intersection,
    st_as_sf,
    st_sfc,
    st_multipoint,
    st_is_empty
    )

importFrom (MASS, 
    eqscplot)

importFrom(grDevices, 
    terrain.colors)

export (addedges)
export (asgraph)
export (checkmoves)
export (cleanskips)
export (clipmask)
export (deleteedges)
export (getLineID)
export (make.line)
export (make.sldf)
export (networkdistance)
export (read.linearmask)
export (replot)
export (showedges)
export (showpath)
export (sim.linearpopn)
export (snapPointsToLinearMask)
export (branched)
export (linearkd)

S3method (plot,   linearmask)
S3method (plot,   linearpopn)
S3method (rbind,  linearmask)
S3method (subset, linearmask)
